.style-switcher{
    position: fixed;
    right: 0;
    bottom: 1rem;
    padding: 15px;
    width: 200px;
    border: 1px solid  var(--bg-color-1);
    background: white;
    z-index: 10;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(-25px);
}
.style-switcher .s-icon{
    position: absolute;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    background: white;
    color: black;
    right: 100%;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i{
    line-height: 35px;
    color:  #1c1d24;
}
.style-switcher .style-switcher-toggler{
    top: 0;
}
.style-switcher .day-night{
    top: 55px;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
}
.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.style-switcher .color-1{
    background: #0000cd;
}
.style-switcher .color-2{
    background: #37b182;
}
.style-switcher .color-3{
    background: #EE4B2B;
}
.style-switcher .color-4{
    background: #eac019;
}

.style-switcher .color-5{
    background: #02b6b9;
}